body {
    background-image: url('../images/vintage-concrete.png');
}

.crystal {
    width: 150px;
    height: 150px;
    float: left;
    background-size: contain;
    margin: 15px;
}

#buttonCrystal1 {
    background-image: url("../images/DiamondGreen-512.png");
}

#buttonCrystal2 {
    background-image: url("../images/DiamondOrange-512.png");
}

#buttonCrystal3 {
    background-image: url("../images/DiamondBlue-512.png");
}

#buttonCrystal4 {
    background-image: url("../images/DiamondRed-512.png");
}